name: Code Linting via Pull Request

on:
  pull_request:
    branches: [ main, master ]

jobs:
  lint:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest] 
        
    runs-on: ${{ matrix.os }} 
    
    steps:
    
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x' 
        
    - name: Install Pylint dependency
      run: pip install pylint 
      
    - name: Analyzing the code with pylint
      run: |
        pylint $(git ls-files  '*.py')
